<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=car.brand%> <%=car.model%></title>
  </head>
  <body>
    <h1><%=car.brand%> <%=car.model%></h1>
    <p>Color: <%=car.color%></p>
    <p>Price: <%=car.price%></p>

    <form action="/cars/<%=car._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= car.brand %> <%= car.model %></button>
    </form>

    <br />
    <a href="/cars">Back to Cars</a>
  </body>
</html>